.project {
  display: grid;
  grid-template-columns: 1fr;
  align-items: end;
  margin-bottom: 10rem;

  @include respond(tab-land) {
    grid-template-columns: 1fr 1fr;
  }
}

// Project figure including svg decorators and mockup
.project__figure {
  display: grid;
  grid-template-rows: minmax(40px, 1fr) repeat(4, 1fr); // 360px
  grid-template-columns: repeat(6, 1fr) minmax(40px, 1fr) 1fr; // 480px
}

.project__figure--mod {
  display: grid;
  grid-template-rows: minmax(40px, 1fr) repeat(4, 1fr); // 360px
  grid-template-columns: minmax(40px, 1fr) repeat(7, 1fr); // 480px
  @include respond(tab-land) {
    grid-column: 2;
    grid-row: 1;
  }
}
.project__mockup {
  grid-column: 1 / 7;
  grid-row: 2 / 6;
  width: 100%;

  &-mod {
    grid-column: 2 / 8;
  }
}

.svg__horiz__container {
  grid-row: 1 / 2;
  grid-column: 1 / 8;
  display: grid;
}

.svg__vert__container {
  grid-row: 2 / 6;
  grid-column: 7 / 8;

  &-mod {
    grid-row: 2 / 6;
    grid-column: 1 / 2;
  }
}

.svg__horiz {
  height: 100%;
  justify-self: end;
  &-mod {
    height: 100%;
  }
}

.svg__vert {
  width: 100%;
}

// Project decscription including svg icons
.project__description {
  margin-top: 5rem;
  @include respond(tab-land) {
    margin-top: 0rem;
  }
}
.project-icons--container {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  height: 100%;
  grid-gap: 1rem;
}

.project__icon {
  fill: $color-secondary;
  height: 4rem;
  width: 4rem;

  :hover {
    fill: $color-primary;
  }
}
