:root {
  /* Fonts */
  --font-sans: "Plus Jakarta Sans", sans-serif;
  --font-mono: "JetBrains Mono", monospace;

  /* Font Weights */
  --weight-regular: 400;
  --weight-medium: 500;
  --weight-semibold: 600;
  --weight-bold: 700;

  /* Color Variables */
  --color-black: #222222;
  --color-white: #fafafa;
  --color-gray-700: #444444;
  --color-gray-600: #666666;
  --color-gray-300: #dddddd;
}

body {
  font-family: var(--font-sans), sans-serif;
  font-weight: var(--weight-regular);
  color: var(--color-black);
  background-color: var(--color-white);
  font-size: clamp(0.875rem, 2vw, 1rem);
}

p {
  line-height: 1.7;
  margin-bottom: 1.25rem;
}

code,
pre,
.mono {
  font-family: var(--font-mono), monospace;
}
