.nav__toggle--open .nav__visible {
  display: inherit;
}
.NavLangItems__toggle--open {
  display: grid;
  grid-template-columns: repeat(5, max-content);
  grid-gap: 1.5rem;
  align-items: end;
  display: none;
  @include respond(tab-land) {
    display: grid;
  }
}

.i18n__button__active {
  font-weight: $font-weight-regular;
  color: $color-secondary;
}
