.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.list li {
  margin-bottom: 1.5rem;
}

.duties {
  margin: 0.75rem 0px;
  padding-left: 1.25rem;
  list-style-type: disc;
}

.duties li {
  margin-bottom: 0.5rem;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-top: 0.5rem;
  padding: 0;
  list-style: none;
}
