.button {
  // background: rgba(131, 96, 195, 0.85);
  background-color: rgba(131, 96, 195, 0.85);
  // opacity: 0.75;
  border-radius: 35px;
  padding: 5px 50px 5px 50px;
  margin-top: 20px;
  font-size: $font-size-regular;
  color: $color-white;
  font-weight: $font-size-regular;

  &:hover {
    // background: rgba(131, 96, 195, 1);
  }
}

.headerImg__wrapper {
  display: grid;
  grid-template-rows: repeat(16, 1fr);
  grid-template-columns: repeat(16, 1fr);
  max-width: 420px;
}

.profile__img {
  width: 100%;
  grid-column: 1/14;
  grid-row: 1/14;
}
.profile_circle {
  grid-column: 6 / 16;
  grid-row: 4 / 15;
  width: 100%;
}
