.skillGroup {
  margin-bottom: 2rem;
}

.skillGroup h3 {
  font-size: 1rem;
  margin-bottom: 0.5rem;
  font-weight: 600;
  letter-spacing: 0.3px;
  text-transform: uppercase;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-top: 0.5rem;
  padding: 0;
  list-style: none;
}
