.footer {
  width: 100%;
  background-color: $color-primary;
  display: grid;
  justify-items: center;
  height: 5rem;
}

.footer-icons--container {
  display: grid;
  grid-template-columns: repeat(3, max-content);
  height: 100%;
}

.footer__icon {
  fill: $color-secondary;
  height: 3.5rem;
  width: 3.5rem;
  align-self: center;

  :hover {
    fill: $color-white;
  }
}
