.nav__toggle--open {
  display: grid;
  grid-gap: 10rem;
  align-content: center;
  justify-items: center;
  text-align: center;
  min-height: 100vh;

  @include respond(tab-land) {
    min-height: $navbar-height;
    display: grid;
    grid-template-columns: max-content max-content;
    justify-content: space-between;
    font-size: $font-size-regular;
  }
}
.nav__toggle--closed {
  min-height: $navbar-height;
  @include respond(tab-land) {
    display: grid;
    grid-template-columns: max-content max-content;
    justify-content: space-between;
    font-size: $font-size-regular;
  }
}

nav ul li button {
  font-size: $font-size-regular;
}

nav ul li button,
nav ul span,
ul li {
  font-weight: $font-weight-light;
  color: $color-black;

  :visited {
    color: $color-black;
  }
  :hover {
    color: $color-secondary;
  }
}

/// mobile nav

.hidden {
  overflow: hidden;
  @include respond(tab-land) {
    overflow: visible;
  }
}
