.navBar {
  width: 100%;
  min-height: 4.8rem;
  z-index: 9;
}
.navDesktop {
  min-height: 4.8rem;
  @include respond(tab-land) {
    display: grid;
    grid-template-columns: 1fr max-content;
    justify-content: space-between;
    font-size: $font-size-regular;
  }
}
nav ul li button {
  font-size: $font-size-regular;
}

nav ul li button,
nav ul span,
ul li {
  font-weight: $font-weight-light;
  color: $color-black;

  :visited {
    color: $color-black;
  }
  :hover {
    color: $color-secondary;
  }
}

/// mobile nav

.hidden {
  overflow: hidden;
}
.mobileNav {
  display: grid;
  grid-gap: 10rem;
  align-content: center;
  justify-items: center;
  text-align: center;
  height: 100vh;
  transition: 2s ease;
}
