.nav {
  display: grid;
  grid-template-columns: 1fr max-content;
  justify-content: space-between;
  font-size: $font-size-regular;
}
nav ul li button {
  font-size: $font-size-regular;
}

nav ul li button,
nav ul span,
ul li {
  font-weight: $font-weight-light;
  color: $color-black;

  :visited {
    color: $color-black;
  }
  :hover {
    color: $color-secondary;
  }
}

.mainNav--container {
  display: none;
  @include respond(tab-land) {
    display: grid;
    grid-template-columns: repeat(3, max-content);
    grid-gap: 1.5rem;
  }
}

.lang__items--container {
  display: none;
  @include respond(tab-land) {
    display: grid;
    grid-template-columns: repeat(5, max-content);
    grid-gap: 1rem;
  }
}

.i18n__button__active {
  font-weight: $font-weight-regular;
  color: $color-secondary;
}

.wrapper {
  @include respond(tab-land) {
    display: none;
  }
  left: 0;
  position: absolute;
  z-index: 2;
  top: 0;
  width: 48px;
  border-bottom: none;
}
.overlay {
  background-color: $color-white;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  position: fixed;
  overflow: hidden;
  transition: opacity 0.2s;
}
.burger {
  display: block;
  position: absolute;
  z-index: 1;
  top: 0;
  width: 48px;
  height: 48px;
  cursor: pointer;
  background-color: yellow;
}
.burger__line--wrapper {
  position: absolute;
  z-index: 2;
  top: 9px;
  left: 9px;
  width: 30px;
  height: 30px;
}

.burger__top__rotated {
  transform: rotate(45deg);
  transition: transform 0.3s cubic-bezier(0.05, 0.05, 0.1, 0.95) 0.1s;
}
.burger__bottom__rotated {
  transform: rotate(-45deg);
  transition: transform 0.3s cubic-bezier(0.05, 0.05, 0.1, 0.95) 0.1s;
}

.burger__line {
  display: block;
  width: 17px;
  height: 1px;
  background: $color-black;
  position: absolute;
  left: 7px;
  z-index: 3;
}

.burger__line__top {
  top: 14px;
  transform: translateY(3px);
  transition: transform 0.3s cubic-bezier(0.05, 0.05, 0.1, 0.95);
}
.burger__line__top--mod {
  top: 14px;
  transform: translateY(0px);
}

.burger__line__bottom {
  bottom: 14px;
  transform: translateY(-3px);
  transition: transform 0.3s cubic-bezier(0.05, 0.05, 0.1, 0.95);
}

.burger__line__bottom--mod {
  bottom: 14px;
  transform: translateY(0px);
}

/// mobile nav

.mobileNav {
  display: grid;
  margin-top: 48px;
  grid-gap: 2rem;
  justify-items: center;
}
